<div class="top-space"></div>

<div class="centeralign">

    <div class="text-center">
        <img src="assets/images/success.png">
        <p class="successhead">Your order is successfully place</p>
        <div style="text-align: -webkit-center">
       <p class="successcontent"> Lorem ipsum dolor sit amet, erat porttitor eget. Vestibulum quis orci lacus. Sed in neque in nisi osuscipit
        laoreet ac</p>
    </div>
        <div class="mt-3">
            <button class="homeBtn" (click)="home()">Back to home</button>
            <button class="orderBtn mx-2" (click)="order()">View Order</button>
        </div>
    </div>

</div>