.privacycard{
    background-color: #FFFFFF;
    border: 2px solid #E4E7E9 ;
    width: 100% !important;
    border-radius: 5px;
}
.card-header{
    border-bottom: 1px solid #E4E7E9;
    padding: 10px !important;
}
.card-body{
    padding: 10px !important;
}