.cancelbtn{
    background: #fff !important;
    color:#43766C !important;
    border: 1px solid #43766C;
    font-size: 14px !important;
    height: 30px !important;
    border-radius: 5px !important;
    width: 100px !important;
}
.okaybtn{
    background: #43766C !important;
    color:#fff !important;
    font-size: 14px !important;
    height: 30px !important;
    border-radius: 5px !important;
    width: 100px !important;
    border: none !important;
}