.addressCard{
    background: #F9F9F9 !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

.removepadding{
    padding-left: 0px !important;
}
.username{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.usernum{
    color: #807D7E;
    font-weight: 400;
    font-size: 14px;
}
.address{
    color: #555555;
    font-size: 14px;
}
.delete{
    color:  #FD1D1D;
    font-size: 14px;
    font-weight: 500;
}
.edit{
    color: #5B895D;
    font-size: 14px;
    font-weight: 500;
}
.addaddress{
    text-align: end !important;
    font-size: 14px !important;
    color:  #43766C;
    font-weight: 500;
}